.ui-header:after {
	background: rgb(34,42,46);
	background: -moz-linear-gradient(top, rgba(34,42,46,1) 0%, rgba(40,49,54,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,42,46,1)), color-stop(100%,rgba(40,49,54,1)));
	background: -webkit-linear-gradient(top, rgba(34,42,46,1) 0%,rgba(40,49,54,1) 100%);
	background: -o-linear-gradient(top, rgba(34,42,46,1) 0%,rgba(40,49,54,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,42,46,1) 0%,rgba(40,49,54,1) 100%);
	background: linear-gradient(to bottom, rgba(34,42,46,1) 0%,rgba(40,49,54,1) 100%);
	border-color: #3e4344;
}

#slider h2 {
	background: rgb(76,89,98);
	background: -moz-linear-gradient(top, rgba(76,89,98,1) 0%, rgba(46,60,71,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,89,98,1)), color-stop(100%,rgba(46,60,71,1)));
	background: -webkit-linear-gradient(top, rgba(76,89,98,1) 0%,rgba(46,60,71,1) 100%);
	background: -o-linear-gradient(top, rgba(76,89,98,1) 0%,rgba(46,60,71,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,89,98,1) 0%,rgba(46,60,71,1) 100%);
	background: linear-gradient(to bottom, rgba(76,89,98,1) 0%,rgba(46,60,71,1) 100%);
	color: #fff;
	text-shadow: 1px 0 1px rgba(0,0,0,.7);
}

#portfolio .flex-control-nav a.flex-active {
	background: rgb(251,251,251);
	background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(166,166,166,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(166,166,166,1)));
	background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(166,166,166,1) 100%);
	background: -o-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(166,166,166,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(166,166,166,1) 100%);
	background: linear-gradient(to bottom, rgba(251,251,251,1) 0%,rgba(166,166,166,1) 100%);
	box-shadow: 0 1px 1px rgba(255,255,255,.3) inset;
	border-color: #a9a9a9;
}

nav li a:after, #services li .ui-collapsible-heading-toggle:after, .title > * + *:after, #project .entry .back:after { background-image: url(images/default/link-arrows.png); }

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (min--moz-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 240dpi) {
			nav li a:after, #services li .ui-collapsible-heading-toggle:after, .title > * + *:after, #project .entry .back:after { background-image: url(images/default/link-arrows@2x.png); -webkit-background-size: 24px 18px; -ms-background-size: 24px 18px; background-size: 24px 18px; }
		}